body{
  background-image: url("../../assets/ec-kids-app-bg.png");
}
form{
  width: 24%;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin-top: 150px;
  opacity: 75%;
}

.btn-primary{
  width: 100%;
  border: none;
  border-radius: 50px;
}
h4{
  font-size: 2rem;
  font-weight: 700;
}


@media screen and (max-width: 992px) {
  form{
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  form{
    width: 100%;
  }
}
